## Imports and Setup

In [1]:
import os
import pandas as pd

import sys
sys.path.insert(0, "../utils/")
import data_utils
import config_utils

%load_ext autoreload
%autoreload 2

## Load Data Files

In [2]:
giga_schools = data_utils.load_files(
    data_dir="data/schools/giga", 
    out_file="giga.geojson"
)
giga_schools.sample(3)

Number of CSV files: 39

  0%|          | 0/39 [00:00<?, ?it/s]

Data dimensions: (489988, 7), CRS: EPSG:4326
Generated /home/itingzon.unicef/giga/data/schools/giga.geojson

,UID,source,iso,country,subregion,region,geometry
326102,unicef-326102,UNICEF,BRA,Brazil,Latin America and the Caribbean,Americas,POINT (-34.91738 -8.04492)
324490,unicef-324490,UNICEF,BRA,Brazil,Latin America and the Caribbean,Americas,POINT (-36.29024 -8.70378)
437172,unicef-437172,UNICEF,MWI,Malawi,Sub-Saharan Africa,Africa,POINT (32.99347 -9.48044)

## Download Overture Maps Data

In [3]:
overture_schools = data_utils.download_overture(
    giga_schools.iso.unique(), 
    out_dir='data/schools/overture', 
    category="SCHOOL"
)
overture_schools.sample(3)

  0%|          | 0/39 [00:00<?, ?it/s]

Data dimensions: (64337, 5) CRS: EPSG:4326
Generated /home/itingzon.unicef/giga/data/schools/overture.geojson

,UID,iso,source,name,geometry
7699,overture-7699,NGA,OVERTURE,"Yakasai, Shekara Secondary School",POINT (8.53052 11.99816)
12513,overture-12513,NGA,OVERTURE,Ikenna Stars Academy,POINT (3.13915 6.45606)
21792,overture-21792,THA,OVERTURE,School Hub,POINT (100.64115 13.73929)

## Download OpenStreetMap Data

In [4]:
osm_schools = data_utils.download_osm(
    giga_schools.iso.unique(), 
    out_dir='data/schools/osm',
    category="SCHOOL"
)
osm_schools.sample(3)

  0%|          | 0/39 [00:00<?, ?it/s]

Data dimensions: (98626, 5) CRS: EPSG:4326
Generated /home/itingzon.unicef/giga/data/schools/osm.geojson

,UID,iso,source,name,geometry
6818,osm-6818,GIN,OSM,EP Franco-Arabe El Hadj Momo Camara,POINT (-13.66332 9.57957)
47229,osm-47229,BRA,OSM,Emeb Dr Mario Henrique Simonsen,POINT (-45.99673 -3.66343)
15868,osm-15868,THA,OSM,None,POINT (102.80905 11.88771)

## Data Inspection

In [6]:
giga_schools.region.value_counts()

region
Africa      268030
Americas    167423
Asia         42169
Europe       12248
Oceania        118
Name: count, dtype: int64

In [7]:
giga_schools.subregion.value_counts()

subregion
Sub-Saharan Africa                 268030
Latin America and the Caribbean    167423
South-eastern Asia                  24298
Central Asia                        17026
Eastern Europe                      10238
Southern Europe                      2010
Eastern Asia                          845
Micronesia                            118
Name: count, dtype: int64

In [8]:
giga_schools.country.value_counts()

country
Brazil                              136173
Nigeria                             109407
Ghana                                34712
South Africa                         32925
Thailand                             24298
Niger                                19492
Honduras                             16516
Guinea                               15591
Sierra Leone                         11941
Uzbekistan                           10111
Benin                                 8858
Zimbabwe                              7913
Ukraine                               7845
Malawi                                7062
Kazakhstan                            6915
Kenya                                 6861
South Sudan                           6363
El Salvador                           5162
Costa Rica                            4598
Rwanda                                4095
Panama                                3178
Hungary                               2393
Bosnia and Herzegovina                2010
Namibia                               1779
Botswana                              1031
Mongolia                               845
Trinidad and Tobago                    761
Belize                                 372
Grenada                                154
Kiribati                               118
Barbados                               106
Saint Vincent and the Grenadines        94
Saint Lucia                             93
Dominica                                69
Saint Kitts and Nevis                   44
Antigua and Barbuda                     43
Virgin Islands (British)                23
Anguilla                                20
Montserrat                              17
Name: count, dtype: int64