## Imports and Setup

In [1]:
import os
import pandas as pd
import geopandas as gpd

import sys
sys.path.insert(0, "../utils/")
import clean_utils

%load_ext autoreload
%autoreload 2

## Data Deduplication

In [13]:
clean_data = clean_utils.deduplicate_data(
    data_dir='data/vectors/school', 
    out_dir='data/vectors/school/clean',
    buffer_size=50
)
clean_data.sample(3)

  0%|          | 0/3 [00:00<?, ?it/s]

  0%|          | 0/39 [00:00<?, ?it/s]

Data dimensions: (448897, 9), CRS: EPSG:4326
Generated /home/itingzon.unicef/giga/data/vectors/school/clean.geojson

,UID,source,iso,country,region,subregion,name,giga_id_school,geometry
153191,UNICEF-THA-SCHOOL-00024133,UNICEF,THA,Thailand,Asia,South-eastern Asia,บ้านลาเมาะ,e936d81d-92e4-326a-8b0c-022ad1769ab8,POINT (99.47092 20.04254)
330094,UNICEF-BRA-SCHOOL-00062299,UNICEF,BRA,Brazil,Americas,Latin America and the Caribbean,ESCOLA JOSE CAMARGO,94d36039-57e6-3e99-a8a6-70b25c8c71c5,POINT (-41.40183 -14.75036)
9588,UNICEF-HND-SCHOOL-00013222,UNICEF,HND,Honduras,Americas,Latin America and the Caribbean,HILARIO GUEVARA,ffe3c507-38e6-3cca-939f-272546ea4a43,POINT (-86.84442 13.40997)

## Data Inspection

In [3]:
clean_data.region.value_counts()

region
Africa      232314
Americas    150167
Asia         51636
Europe       14676
Oceania        104
Name: count, dtype: int64

In [4]:
clean_data.subregion.value_counts()

subregion
Sub-Saharan Africa                 232314
Latin America and the Caribbean    150167
South-eastern Asia                  32423
Central Asia                        18052
Eastern Europe                      12839
Southern Europe                      1837
Eastern Asia                         1161
Micronesia                            104
Name: count, dtype: int64

In [5]:
clean_data.country.value_counts()

country
Brazil                              119959
Nigeria                             102916
South Africa                         43406
Thailand                             32423
Niger                                16961
Honduras                             14883
Ghana                                14265
Kenya                                12496
Uzbekistan                           10475
Ukraine                               9892
Zimbabwe                              8769
Malawi                                7708
Kazakhstan                            7577
Benin                                 6770
Sierra Leone                          5799
El Salvador                           5135
Costa Rica                            4785
South Sudan                           4314
Rwanda                                3533
Panama                                3247
Hungary                               2947
Namibia                               2158
Bosnia and Herzegovina                1837
Botswana                              1617
Guinea                                1602
Mongolia                              1161
Trinidad and Tobago                    781
Belize                                 472
Barbados                               225
Grenada                                140
Saint Lucia                            138
Saint Vincent and the Grenadines       113
Kiribati                               104
Dominica                                82
Antigua and Barbuda                     79
Saint Kitts and Nevis                   65
Virgin Islands (British)                30
Anguilla                                20
Montserrat                              13
Name: count, dtype: int64