## Imports and Setup

In [1]:
import os

import sys
sys.path.insert(0, "../src")
import sat_download

sys.path.insert(0, "../utils/")
import config_utils
import data_utils
import geopandas as gpd
import pandas as pd

%load_ext autoreload
%autoreload 2

## File Locations

In [24]:
iso = "YEM"
cwd = os.path.dirname(os.getcwd())

# Credential config file
config_file = os.path.join(cwd, "configs/sat_configs/sat_config_500x500_60cm.yaml")
creds_file = os.path.join(cwd, "configs/sat_creds.yaml")

config = config_utils.create_config(config_file)
creds = config_utils.create_config(creds_file)

## Download Dataset

In [25]:
sat_download.download_sat_images(creds, config, category="school", iso=iso)

INFO:root:Data dimensions: (1756, 12), CRS: EPSG:3857
100%|████████████████████| 1756/1756 [00:05<00:00, 335.47it/s]

In [23]:
sat_download.download_sat_images(creds, config, category="non_school", iso=iso)

INFO:root:Data dimensions: (5446, 12), CRS: EPSG:3857
100%|████████████████████| 5446/5446 [01:10<00:00, 77.56it/s]

## Data Inspection

In [9]:
filename="configs/data_config.yaml"
config = config_utils.create_config(os.path.join(cwd, filename))
counts = data_utils.get_counts(config, column='iso')
counts

Reading BRA: 100%|████████████████████| 42/42 [01:22<00:00,  1.96s/it]
/home/itingzon.unicef/giga/notebooks/../utils/data_utils.py:365: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data[key] = pd.concat(values)
/home/itingzon.unicef/giga/notebooks/../utils/data_utils.py:365: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data[key] = pd.concat(values)

     school  non_school  unicef
iso
BRA  104064       75012  136173
NGA   74032       12031  109407
THA   58915       43181   24298
MDG   18660        1551   44713
NER   14342         781   19492
UKR   11075       28489    7845
GHA    8946        4703   34712
KEN    8385        8360    6861
ZWE    6145        1997    7913
KAZ    6093        8739    6915
MWI    6090        1009    7062
UZB    6023        5600   10111
HUN    5224       16636    2393
BEN    4648        1237    8858
CRI    4493        5476    4598
HND    4183         663   16516
SLV    3568        1406    5162
RWA    3117         692    4095
PAN    2642        1797    3178
NAM    1818         784    1779
BIH    1815        3922    2010
SLE    1704         346   11941
YEM    1631        4463    1116
GIN    1216         750   15591
BWA    1116        1419    1031
TTO     662        1994     761
SSD     564          12    6363
BLZ     325         754     372
MNG     264         848     845
BRB     136         603     106
LCA     107         295      93
KIR     100          45     118
VCT      89         127      94
GRD      87         156     154
DMA      69         116      69
ATG      63         238      43
KNA      46         160      44
VGB      20          92      23
AIA      12          61      20
MSR      10          14      17
ZAF       2           6   32925