## Imports and Setup

In [1]:
import os

import sys
sys.path.insert(0, "../src")
import sat_download

sys.path.insert(0, "../utils/")
import config_utils
import data_utils
import geopandas as gpd
import pandas as pd

%load_ext autoreload
%autoreload 2

## File Locations

In [35]:
iso = "SEN"
cwd = os.path.dirname(os.getcwd())

# Credential config file
config_file = os.path.join(cwd, "configs/sat_configs/sat_config_512x512_60cm.yaml")
creds_file = os.path.join(cwd, "configs/sat_creds.yaml")

config = config_utils.create_config(config_file)
creds = config_utils.create_config(creds_file)

## Download Dataset

In [37]:
sat_download.download_sat_images(creds, config, category="school", iso=iso)

INFO:root:Data dimensions: (820, 12), CRS: EPSG:3857
100%|████████████████████| 820/820 [00:19<00:00, 41.02it/s]

In [ ]:
sat_download.download_sat_images(creds, config, category="non_school", iso=iso)

## Data Inspection

In [34]:
filename="configs/data_config.yaml"
config = config_utils.create_config(os.path.join(cwd, filename))
counts = data_utils.get_counts(config, column='iso')
counts

Reading ZWE: 100%|████████████████████| 42/42 [02:02<00:00,  2.91s/it]

     school  non_school
iso
BRA  118725      118725
NGA   87443       87443
ZAF   36163       36163
THA   30837       56837
MDG   24673       24673
HND   15005       15005
NER   14749       14749
GHA   13090       13090
KEN   10355       10355
UKR    9296       37070
UZB    9246        9246
KAZ    7127        9783
MWI    6766        6766
ZWE    6634        6634
BEN    6023        6023
SLV    5108        5108
CRI    4503        5939
SLE    4327        4327
SSD    3689        3689
RWA    3392        3392
HUN    2867       20523
PAN    2823        2823
NAM    1988        1988
GIN    1584        1584
BIH    1487        4158
BWA    1287        1339
YEM    1149        3302
MNG     866        2050
SEN     820        2304
TTO     733        1945
BLZ     410         710
BRB     199         608
LCA     126         271
GRD     104         141
VCT     103         116
KIR      81          81
DMA      79          93
ATG      73         189
KNA      58         140
VGB      26          80
AIA      15          59
MSR      12          13