## Imports and Setup

In [1]:
import os

import sys
sys.path.insert(0, "../src")
import sat_download

sys.path.insert(0, "../utils/")
import config_utils
import data_utils
import geopandas as gpd
import pandas as pd

%load_ext autoreload
%autoreload 2

## File Locations

In [2]:
iso = "YEM"
cwd = os.path.dirname(os.getcwd())

# Credential config file
config_file = os.path.join(cwd, "configs/sat_configs/sat_config_512x512_60cm.yaml")
creds_file = os.path.join(cwd, "configs/sat_creds.yaml")

config = config_utils.create_config(config_file)
creds = config_utils.create_config(creds_file)

## Download Dataset

In [3]:
sat_download.download_sat_images(creds, config, category="school", iso=iso)

INFO:root:Data dimensions: (1265, 12), CRS: EPSG:3857
100%|████████████████████| 1265/1265 [27:09<00:00,  1.29s/it]

In [ ]:
sat_download.download_sat_images(creds, config, category="non_school", iso=iso)

## Data Inspection

In [4]:
filename="configs/data_config.yaml"
config = config_utils.create_config(os.path.join(cwd, filename))
counts = data_utils.get_counts(config, column='iso')
counts

     school  non_school
iso
BRA  120495      126515
NGA   90555       12032
ZAF   37577        4919
THA   31266       61806
MDG   25040        1727
HND   15141        2075
NER   14953         902
GHA   13702        6298
KEN   10492        8025
UKR    9431       39948
UZB    9422        9147
KAZ    7210       10766
MWI    6804        1091
ZWE    6676        2031
BEN    6159        1439
SLV    5168        2185
CRI    4529        6828
SLE    4477         492
SSD    3806         314
RWA    3428         688
HUN    2905       22143
PAN    2827        2271
NAM    2003         770
GIN    1628        1273
BIH    1504        4516
BWA    1302        1461
YEM    1289        3541
MNG     892        2238
SEN     834        2493
TTO     745        2185
BLZ     416         787
BRB     201         662
LCA     127         302
GRD     105         153
VCT     103         136
KIR      81          48
DMA      79         101
ATG      74         218
KNA      59         156
VGB      27          89
AIA      15          63
MSR      12          13