## Imports and Setup

In [6]:
import os
import sys
sys.path.insert(0, "../src")
import sat_download
sys.path.insert(0, "../utils/")
import config_utils
import geopandas as gpd
import pandas as pd

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## File Locations

In [7]:
iso = "BWA"
cwd = os.path.dirname(os.getcwd())

# Credential config file
config_file = os.path.join(cwd, "configs/sat_configs/sat_config_512x512_60cm.yaml")
creds_file = os.path.join(cwd, "configs/sat_creds.yaml")

config = config_utils.create_config(config_file)
creds = config_utils.create_config(creds_file)

## Data Inspection

In [13]:
school_file = os.path.join(cwd, "data/vectors/school/clean.geojson")
non_school_file = os.path.join(cwd, "data/vectors/non_school/clean.geojson")
schools, non_schools = gpd.read_file(school_file), gpd.read_file(non_school_file)
counts = pd.merge(
    schools["iso"].value_counts(), 
    non_schools["iso"].value_counts(), 
    left_index=True, 
    right_index=True
)
counts.columns = ["school", "non_school"]
counts

     school  non_school
iso
BRA  126132      135758
NGA  102062       10034
ZAF   42281        4668
THA   32978       64889
NER   16899         940
HND   15722        2277
GHA   14662        6153
KEN   12603        7580
UZB   10287        9440
UKR    9755       42869
ZWE    8611        2074
KAZ    7611       11939
MWI    7291        1102
BEN    6733        1593
SLE    5652         316
SLV    5274        2247
CRI    4734        7170
SSD    4506         401
RWA    3536         702
PAN    3275        2382
HUN    2976       22765
NAM    2121         864
BIH    1847        5580
GIN    1698        1354
BWA    1487        1269
MNG    1171        2801
SEN     939        2339
TTO     781        2197
YEM     702        5702
BLZ     467         817
BRB     221         687
LCA     142         210
GRD     137         149
VCT     111         132
KIR     108          51
DMA      85         115
ATG      77         267
KNA      64         154
VGB      32          88
AIA      19          65
MSR      15          14

## Download Dataset

In [8]:
sat_download.download_images(creds, config, category="school", iso=iso)

INFO:root:Data dimensions: (1365, 12), CRS: EPSG:3857
100%|███████████████████████████████████████████████████████████████████████████████| 1365/1365 [12:19<00:00,  1.85it/s]

In [ ]:
sat_download.download_images(creds, config, category="non_school", iso=iso)